/* body{
    background: grey;
} */
.img_bug{
    width: 30px;
}
.googleicon{
    font-size: 100px;
    color: rgb(128, 9, 0);

}
.mesingericon{
    font-size:100px;
    color: rgb(13, 15, 151);
}
.fingerprint
{
    font-size: 100px;
}
.grade{
    font-size: 100px;
}

.pets{

}

.work{

}